<div class="title-left">
    <div class="title title-pos">
        <div class="title-head">
            Schedule K-1
        </div>
        <div>
            (Form 1065)
        </div>
    </div>
</div>
<div class="title-middle">
    <div class="title title-pos">
        <div class="title-head">
            Partner’s Share of Income, Deductions, Credits, etc.
        </div>
        <div>
            {{partInfo}}
        </div>
    </div>
</div>
<div class="title-right">
    <div class="title-pos year-pos">
        <div class="year-1">
            20
        </div>
        <div class="year-2">
            16
        </div>
    </div>
</div>