.Form-Wizard {
    width: 80%;
    height: 80%;
    min-width: 960px;
    min-height: 660px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #f2f3f4;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}